.footerStyle {
    background-color: rgb(240, 240, 240);
    padding-bottom:40px;
}

.footerArrange {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;


}

.footerLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:30px;
}