<section id="about" class="angled-both-right-left">
    <div id="container" class="contentContainer">
        <h2>About</h2>
        <div class="content">
            <div>
                <p>beatae esse velit laudantium nam eligendi possimus</p>
                <div class="">
                    <a href="#" class="">Text 1</a>
                    <a href="#" class="">Text 2</a>
                </div>
                <a href="#" class="">
                    <h5 class="">My Text</h5>
                </a>
            </div>
        </div>
    </div>
</section>