.container {
    margin-top: 100px;
    height: 100%;
    padding-bottom: 2em;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(#fff, 0.9);
    border-radius: 8px;
    width: 25%;
    padding: 40px;
    text-align: center;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
}

.steps {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap:20px;
    margin-bottom:30px;
}

.sizeCol {
    width: 15%;
}

svg {
    height:5em;
}

.aboutArrange {
    display: flex;
    flex-direction: row;
}

.myImg {
    position: relative;
    border-radius: 100%;
    border: 5px solid;
    width: 230px;
    top: 25px;
    margin-left: 20px;
    margin-bottom: 45px;
}

.colorSVG path {
    fill: hsl(230, 80%, 21%);
}

/* .colorSVG path:hover {
	fill: #ed6866;
} */


.angled-both-right-left {
    width: 100%;
    position: relative;
    background: linear-gradient(to right, #f1e767 0%, #feb645 100%);
}

.angled-both-right-left:before,
.angled-both-right-left:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    transition: ease all 0.5s;
}

.angled-both-right-left:before {
    top: 0;
    transform-origin: left top;
    transform: skewY(-3deg);
}

.angled-both-right-left:after {
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(-3deg);
}

@media (max-width: 1050px) {
    .sizeCol {
        width: 18%;
    }
}

@media (max-width: 970px) {
	/* For Tablet: */
    .sizeCol {
        width: 25%;
    }
}

@media (max-width: 840px) {
	/* For Tablet: */
    .sizeCol {
        width: 30%;
    }

    .aboutArrange {
        display: flex;
        flex-direction:column;
       /*  top:-20px; */
        align-items: center;
    }

    .myImg {
        position: relative;
        border-radius: 100%;
        border: 5px solid;
        width: 220px;
        top: 0;
        margin-left: 20px;
        margin-bottom: 25px;
    }
}

@media (max-width: 770px) {
	/* For Tablet: */
    .sizeCol {
        width: 30%;
    }
    svg {
        height:2.75em;
    }
}

@media (max-width: 590px) {
	/* For Tablet: */
    .sizeCol {
        width: 35%;
    }

}

@media only screen and (max-width: 510px) {
	/* For Mobile: */

    .sizeCol {
        width: 40%;
    }
}

@media only screen and (max-width: 480px) {
    .sizeCol {
        width: 60%;
    }
}

@media (max-width: 390px) {}