.bgContact {
	height: 70vh;
	background-image: url(../../assets/img/bgContact.png);
	background-size: auto;
	/* background-image: url(../../assets/img/geometric.png); 
	background-size:contain;*/
	background-repeat: no-repeat;
	background-position:left bottom;
}

.textArrange {
	display: flex;
	flex-direction: row;
	gap:30px;
}

