.contentContainer {
	display: flex;
    margin-top: 50px;
}

.bgContact {
	min-height: 100%;
	/* height: 80vh; */
	background-image: url(../../assets/img/bgBottom.png);
	/* background-size: auto; */
	background-repeat: no-repeat;
	background-position: left bottom;
	/* background-attachment: fixed; */
}



.textArrange {
	display: flex;
	flex-direction: row;
	/* 	gap: 30px; */
}

.arrange {
	display: flex;
	flex-direction: row;
	gap: 30px;
	margin-bottom: 5em;
}

.textArrange {
	display: flex;
	flex-direction: column;
}

h3 {
	margin-top: 0;
}

/* .upFix {
	position: fixed;
	right: 30px;
	bottom: 50px;
} */

.upFix {
	position: absolute;
	right: -75px;
    bottom: 0px;
}

.upFlex {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}


.up {
	position: relative;

}

.upStyle {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* .upFixed {
  position: absolute;
    right: 30px;
    bottom:50px;
} */

a {
	text-decoration: none;
	color: inherit;
}

.cta {
	position: relative;
	margin: auto;
	padding: 19px 22px;
	transition: all 0.2s ease;
}

.cta:before {
	content: "";
	position: absolute;
	top: 30px;
	left: 0;
	display: block;
	border-radius: 28px;
	background: rgb(255, 208, 70, 0.5);
	width: 56px;
	height: 56px;
	transition: all 0.3s ease;
}

.cta div.up {
	position: relative;
	top: 6px;
	left: -5px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 900;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	vertical-align: middle;
}

.cta svg {
	position: relative;
	left: -5px;
	top: -5px;
	margin-left: 0px;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: rgb(44, 49, 109);
	stroke-width: 2;
	transform: translateY(0px);
	transition: all 0.3s ease;
}

.cta:hover:before {
	/* width: 100%; */
	height: 100%;
	transform: translateY(-30px);
	background: rgb(255, 208, 70);
}

.cta:hover svg {
	transform: translateY(-5px);
}


@media (max-width: 1235px) {
	.upFix {
		position: absolute;
		right: -75px;
		bottom: -130px;
	}
}

@media (max-width: 1024px) {
	.bgContact {
		/* max-height: 100%; */
		background-size: 800px;
	}

	/* .contentContainer {
		position: relative;
		margin-top: 0px;
		top: 40px;
	} */

	.upFix {
		position: absolute;
		right: -65px;
		bottom: -160px;
	}
}

@media (max-width: 885px) {

	/* For Tablet: */
	.bgContact {
		/* background-size: 700px; */
	}

	/* .contentContainer {
		position: relative;
		margin-top: 250px;
		top: -250px;
	} */

	.arrange {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	.upFix {
		position: absolute;
		right: -25px;
		bottom: -260px;
	}
}

@media only screen and (max-width: 624px) {
	/* For Mobile: */

	.bgContact {
		max-height: 100vh;
	}

	.contentContainer {
		position: relative;
		/* margin-top: 500px;
		top: -500px; */
	}
}

@media only screen and (max-width: 470px) {
	.bgContact {
		background-size: 600px;
	}
}


@media (max-width: 390px) {
	.upFix {
		position: absolute;
		right: -15px;
		bottom: -260px;
	}

}