.formStyle {
  /* padding-bottom: 50px; */
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.agree {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 10px;
}

.mandatory {
  font-size: 14px;
  margin-bottom: 20px;
}

textarea {
  border: 1px solid #ccc;
  width: 93%;
  padding: 20px;
  border-radius: 4px;
  resize: none;
  cursor: pointer;
  font-family: Satoshi, Helvetica, sans-serif;
  font-size: 14px;
}

input.info {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
}

.buttonArrange {
  display: flex;
  justify-content: center;

}

button {
  width: 120px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  &:hover {
    background-color: #A5E3DC;
    font-weight: bold;
  }
}


a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgb(255, 208, 70, 0.5);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: rgb(44, 49, 109);
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: rgb(255, 208, 70);
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.96);

}

@media (max-width: 1440px) {
  
}

@media (max-width: 1190px) {
  .formContainer {
    width: 500px;
  }

  textarea {
    width: 92%;
  }
}

@media (max-width: 1024px) {
  .formContainer {
    width: 450px;
  }

  textarea {
    width: 91%;
  }
}

@media (max-width: 885px) {
  /* For Tablet: */

  .formContainer {
    width: 100%;
  }

  .arrange {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  textarea {
    width: 93%;
  }
}

@media only screen and (max-width: 624px) {

  /* For Mobile: */
  .formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  input.info {
    width: 100%;

  }

  textarea {
    width: 92%;
  }

  .agree {
    width: 100%;
  }
}

@media only screen and (max-width: 515px) {

  input.info {
    width: 100%;
  }

  textarea {
    width: 91%;
  }
}

@media only screen and (max-width: 490px) {

  /* input.info {
    width: 82%;
  }

  textarea {
    width: 77%;
  } */

  .agree {
    width: 80%;
  }
}


@media (max-width: 390px) {

  textarea {
    width: 88%;
  }
/* 
  .agree {
    width: 50%;
  } */
}