<div>
    <form class="formContainer">
        <input type="text" id="name" name="name">
        <input type="text" id="mail" name="mail">
        <textarea name="message" rows="10" cols="30">Text ...
        </textarea>
        <div class="agree">
            <input type="checkbox" id="dsgvo" name="dsgvo" value="agree">
            <label for="dsgvo"> I agree the terms of the ... *</label>
            
        </div>
        <label for="pflicht">* Pflichtfeld</label>
        <input type="submit" value="Submit">
    </form>
</div>
