<div class="formStyle">
    <form class="formContainer">

        

        <div class="arange">
            <div class="inputText">
                <input class="info" type="text" id="name" name="name" placeholder="Your Name *">
                <input class="info" type="text" id="mail" name="mail" placeholder="Your E-Mail *">
                <textarea name="message" rows="10" cols="30" placeholder="Your Message ..."></textarea>
            </div>

            <div class="agree">
                <input type="checkbox" id="dsgvo" name="dsgvo" value="agree">
                <label for="dsgvo"> I agree the terms of ... *</label>

            </div>
            <label>* Pflichtfeld</label>
        </div>
        <div class="buttonArrange">
            <div class="buttonAnimation">
                <a href="#" class="cta">
                    <span>Send Message!</span>
                    <svg width="13px" height="10px" viewBox="0 0 13 10">
                        <path d="M1,5 L11,5"></path>
                        <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                </a>
            </div>
        </div>

    </form>
</div>
