#containerSkills {
    margin-top: 100px;
    min-height: 300px;
    width: 100%;
    position: relative;
}

.contentContainer {
    padding-bottom: 25px;
    padding-top: 10px;
}

.textArrange {
    margin-bottom: 2em;
}

.iconSize {
    width: 50px;
}

.displaySVG {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px 60px;
}

.arrangeSVG {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    width: 50px;
    height: 100px;
}

.colorSVG path {
    fill: hsl(230, 80%, 21%);
}

/* .colorSVG path:hover {
	fill: #ed6866;
} */


/* Background */

.angled-both-right-left {
    width: 100%;
    position: relative;
    background: linear-gradient(to right, #f1e767 0%, #feb645 100%);
}

.angled-both-right-left:before,
.angled-both-right-left:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    transition: ease all 0.5s;
}

.angled-both-right-left:before {
    top: 0;
    transform-origin: left top;
    transform: skewY(-3deg);
}

.angled-both-right-left:after {
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(-3deg);
}


@media (max-width: 1024px) {}

@media (max-width: 885px) {
    /* For Tablet: */

}


@media only screen and (max-width: 624px) {

    /* For Mobile: */
    .displaySVG {
        justify-content: center;
    }

    .contentContainer {
        padding-bottom: 40px;
    }
}

@media only screen and (max-width: 470px) {}