.portfolioDescription {
    margin-bottom: 50px;
}

.projectView {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.withArrange {
    width: 46%;
    margin-bottom: 8%;
}

.linksPortfolio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding-bottom: 20px;
}

@media (max-width: 1440px) {}

@media (max-width: 1190px) {}

@media (max-width: 1024px) {}

@media (max-width: 885px) {
    /* For Tablet: */

}

@media only screen and (max-width: 624px) {
    /* For tablet: */
    .withArrange {
        width: 100%;
        margin-bottom: 10%;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: 470px) {}


@media (max-width: 390px) {}