<section class="bgPortfolio">
    <div id="portfolio" class="contentContainer">
        <div class="add">
        <h2>Portfolio</h2>
        <!-- <div class="linksPortfolio">
            <button>All</button>
            <button>JavaScript</button>
            <button>Angular</button>
        </div> -->
        <div class="portfolioDescription">Some sample of my work created while my education as Frontend Developer. Fell free to try them out.</div>
        <div class="projectView">
            <div class="withArrange" *ngFor="let project of projects">
                <app-projects [project]="project"></app-projects>
            </div>
        </div>
        </div>
    </div>
    
</section>