<section class="header">
    <div class="contentContainer">
        <div>
            <a routerLink="/"><img class="imgSize" src="../../assets/img/logo-yg-kl.png"></a>
        </div>

        <h1>Imprint</h1>

        <h2>Information pursuant to Sect. 5 German Telemedia Act (TMG)</h2>
        Yvonne Götzeler<br>
        Uhlandstraße 7<br>
        88453 Erolzheim<br>

        <h2>Contact</h2>
        Phone: 07354 - 932 999 <br>
        E-mail: yvonne.goetzeler@gmail.com

        <h2>VAT ID</h2>
        Sales tax identification number according to Sect. 27 a of the Sales Tax Law: DE 257169810

        <h2>Person responsible for editorial</h2>
        Yvonne Götzeler<br>
        Uhlandstraße 7<br>
        88453 Erolzheim<br>

        <h2>EU dispute resolution</h2>
        The European Commission provides a platform for online dispute resolution (ODR): https://ec.europa.eu/consumers/odr/.
        Our e-mail address can be found above in the site notice.

    
        <h2>Dispute resolution proceedings in front of a consumer arbitration board</h2>
        We are not willing or obliged to participate in dispute resolution proceedings in front of a consumer arbitration board.

        <h3>Liability for Contents</h3>
        As service providers, we are liable for own contents of these websites according to Paragraph 7, Sect. 1 German Telemedia Act (TMG). However, according to Paragraphs 8 to 10 German Telemedia Act (TMG), service providers are not obligated to permanently monitor submitted or stored information or to search for evidences that indicate illegal activities.
        
        <p>Legal obligations to removing information or to blocking the use of information remain unchallenged. In this case, liability is only possible at the time of knowledge about a specific violation of law. Illegal contents will be removed immediately at the time we get knowledge of them.</p>


        <h3>Liability for Links</h3>
        Our offer includes links to external third-party websites. We have no influence on the contents of those websites, therefore we cannot guarantee for those contents. Providers or administrators of linked websites are always responsible for their own contents.
        
        <p>The linked websites had been checked for possible violations of law at the time of the establishment of the link. Illegal contents were not detected at the time of the linking. A permanent monitoring of the contents of linked websites cannot be imposed without reasonable indications that there has been a violation of law. Illegal links will be removed immediately at the time we get knowledge of them.</p>
        
        <h3>Copyright</h3>
        Contents and compilations published on these websites by the providers are subject to German copyright laws. Reproduction, editing, distribution as well as the use of any kind outside the scope of the copyright law require a written permission of the author or originator. Downloads and copies of these websites are permitted for private use only.
        The commercial use of our contents without permission of the originator is prohibited.
        
        <p>Copyright laws of third parties are respected as long as the contents on these websites do not originate from the provider. Contributions of third parties on this site are indicated as such. However, if you notice any violations of copyright law, please inform us. Such contents will be removed immediately.</p>
        <h4>Image Sources</h4>
        <ul>
            <li>Bild von Csaba Nagy auf Pixabay</li>
            <li>Foto von form PxHere</li>
            <li>Foto von Stefan Coders auf <a href="https://www.pexels.com/de-de/foto/vpn-box-2070069/" target="_blank">pexels</a></li>
            
        </ul>

        <div class="source">Quelle: eRecht 24</div>

    </div>
</section>

<app-footer></app-footer>