/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background-color: #fff;
    font-family: Satoshi, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(44, 49, 109);
    

}

h2 {
    font-size: 40px;
}

h2.reduce {
    margin-top: 0;
}

h2.add {
    margin-top: 70px;
}

/* section {
    height: auto;
    margin: auto;
} */

.contentContainer {
    max-width: 1280px;
    margin: auto auto;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
    /* background-color: aliceblue; */
}

button {
    cursor: pointer;
}

@media (max-width: 1440px) {
    .contentContainer {
        max-width: 1024px;
    }
}

@media (max-width: 1190px) {
    .contentContainer {
        max-width: 85%;
    }
}

@media (max-width: 1024px) {
    .contentContainer {
        max-width: 85%;
    }
}

@media (max-width: 885px) {

    /* For Tablet: */
    .contentContainer {
        max-width: 85%;
        /* margin-top: 10%; */
    }
}

@media only screen and (max-width: 624px) {

    /* For tablet: */
    .contentContainer {
        max-width: 85%;
    }

}

@media only screen and (max-width: 470px) {

    /* For tablet: */
    .contentContainer {
        max-width: 85%;
    }

}


@media (max-width: 390px) {
    .contentContainer {
        max-width: 90%;
    }

}