/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background-color: #fff;
    font-family: Satoshi, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(44, 49, 109);
}

h2 {
    font-size: 40px;
}

.reduce {
    /* margin-top: -2em; */
}

.add {
    margin-top: 3em;
}

.contentContainer {
    max-width: 1280px;
    margin: auto auto;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
}

button {
    cursor: pointer;
}

/* Grow Shadow */
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }

  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }

@media (max-width: 1440px) {
    .contentContainer {
        max-width: 1024px;
    }
}

@media (max-width: 1190px) {
    .contentContainer {
        max-width: 85%;
    }
}

@media (max-width: 1024px) {

}

@media (max-width: 885px) {

    /* For Tablet: */

}

@media only screen and (max-width: 624px) {

    /* For tablet: */

}

@media only screen and (max-width: 470px) {

    /* For tablet: */
    .add {
        margin-top: 2em;
    }
}


@media (max-width: 390px) {
    .contentContainer {
        max-width: 90%;
    }

}