/* You can add global styles to this file, and also import other style files */
body {
    margin:0;
    background-color: #fff;
    font-family: Satoshi,Helvetica,sans-serif;

	font-size: 16px;
	color: rgb(44, 49, 109);

}

h2 {
    font-size: 40px;
}

h2.reduce {
    margin-top: 0;
}

h2.add {
    margin-top: 70px;
}

section {
    height: auto;
}

.contentContainer {
    padding-top:40px;
    padding-left:200px;
    padding-right:200px;
}

button {
    cursor: pointer;
}